<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/trNgGrid.min.css" rel="stylesheet" />
    <link href="Content/overwrite.css" rel="stylesheet" />
</head>
<body ng-app="car-finder">
    <div ng-controller="carCtrl as ctrl" ng-cloak>
        <h4 class="center-block">Car Lister</h4>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <label>
                        Year:
                        <select ng-model="ctrl.selected.year" 
                                ng-options="year for year in ctrl.options.years"
                                ng-change="ctrl.getMakes()"></select>
                    </label><br />
                    <label>
                        Make:
                        <select ng-if="ctrl.selected.year"
                                ng-model="ctrl.selected.make" 
                                ng-options="make for make in ctrl.options.makes"
                                ng-change="ctrl.getModels()"></select>
                    </label><br />
                    <label>
                        Model:
                        <select ng-if="ctrl.selected.make" 
                                ng-model="ctrl.selected.model" 
                                ng-options="model for model in ctrl.options.models"
                                ng-change="ctrl.getTrims()"></select>
                    </label><br />

                    <label>
                        Trim:
                        <select ng-if="ctrl.selected.model" 
                                ng-model="ctrl.selected.trim" 
                                ng-options="trim for trim in ctrl.options.trims"
                                ng-change="ctrl.getCars()"></select>
                    </label><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table tr-ng-grid=""
                           items="ctrl.cars"
                           fields="['model_year', 'make', 'model_name', 'model_trim']"
                           total-items="ctrl.unpagedCarsCount"
                           on-data-required="ctrl.getCars()"
                           page-items="ctrl.selected.perPage"
                           currentPage="ctrl.selected.page"
                           filter-by="ctrl.selected.filter"
                           order-by="ctrl.selected.sortColumn"
                           order-by-reverse="ctrl.selected.sortByReverse">
                        <thead>
                            <tr>
                                <th field-name="model_year" display-name="Year" enable-filtering="false"></th>
                                <th field-name="make" display-name="Make" enable-filtering="false"></th>
                                <th field-name="model_name" display-name="Model" enable-filtering="false"></th>
                                <th field-name="model_trim" display-name="Trim" enable-filtering="false"></th>
                                <th display-name="Action" enable-filtering="false" enable-sorting="false"></thdisplay-name="Trim">
                            </tr>
                        </thead>
                        <tr>
                            <td><button type="button" class="btn btn-default" ng-click="ctrl.open(gridItem.id)">View</button></td>
                        </tr>
                    </table>

                    <script type="text/ng-template" id="carModal.html">
                        <div class="modal-header">
                            <h3 class="modal-title">
                                <button class="pull-right btn btn-default" ng-click="cm.cancel()">X</button>
                            </h3>
                        </div>
                        <div class="modal-body">
                            <img src="{{cm.car.imageUrl}}" class="modal-img"/>
                            {{cm.car.car.model_year}} {{cm.car.car.make}} {{cm.car.car.model_name}}
                            <hr />
                            <uib-tabset>
                                <uib-tab heading="Details">
                                    Trim: {{cm.car.car.model_trim}}<br />
                                    Body Style: {{cm.car.car.body_style}}<br />
                                    Engine Fuel: {{cm.car.car.engine_fuel}}<br />
                                    Transmission: {{cm.car.car.transmission_type}}<br />
                                    Drive Type: {{cm.car.car.drive_type}}<br />
                                </uib-tab>
                                <uib-tab heading="Recalls">
                                    <uib-accordion ng-repeat="result in cm.car.recalls.Results" >
                                        <uib-accordion-group heading="{{result.Component}}">
                                            Summary:<br />
                                            {{result.Summary}}<br /><hr />
                                            Consequence:<br />
                                            {{result.Conequence}}<br /><hr />
                                            Remedy:<br />
                                            {{result.Remedy}}<br /><hr />
                                            Notes:<br />
                                            {{result.Notes}}<br /><hr />
                                            Manufacturer: {{result.Manufacturer}}<br />
                                            NHTSA Campaign Number: {{result.NHTSACampaignNumber}}<br />
                                            Report Recieved Date: {{resultReportReceivedDate}}
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="cm.ok()">Close</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/trNgGrid.min.js"></script>
    <script src="/App/app.js"></script>
    <script src="/App/carCtrl.js"></script>
    <script src="/App/carService.js"></script>

</body>
</html>
